@import '../Variables.scss';

.pageContainer {}

.successContainer {
    display: grid;

    grid-template-areas:
        "heading"
        "search"
        "button"
        "results"
}

.searchBarContainer {
    width: 100%;
    max-width: 80ch;
    margin: 0 auto 64px auto;
    padding: 0 16px;
}
.searchBarSP {
    width: 100%;
    max-width: 80ch;
    border: 0;
    border-radius: 12px;

    background-color: $color-background-alt;

    input[type="text"] {
        padding: 24px 16px;
    }

    button[type="submit"] {
        height: 66px; // todo: very hacky way of making the button fit the container. fix this!
        padding: 24px 16px;
        margin: 0;
        border: 0;
    }
}

.filters {
    margin: 16px auto;
    color: $color-accent-a;
    border-bottom: 2px solid $color-accent-a;
}

.resultsList {
    grid-area: results;

    margin: 0 auto;

    width: 100%;
    max-width: 80ch;
}