@import '../Variables.scss';

.wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    min-height: 80px;

    background-color: $color_white;

    color: $color_black;

    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.logo {
    display: block;
    height: 48px;
    margin: 0 16px;

    // Alt text
    color: #ec006c;
    font-size: 36px;
    font-family: "Futura PT Light", sans-serif;
}

.navContainer {
    flex: 1;
}

.nav {
    list-style-type: none;

    li { display: inline-block; }
}

.navLink {
    padding: 8px 16px;

    color: $color_link_inactive;

    transition: $ttime_link;

    &:hover {
        color: $color_link_hover_dark;
    }
}
.navLinkActive {
    color: $color_link_active_dark;

    &:hover {
        color: $color_link_active_dark;
    }
}

.searchBarHeader {
    margin: 0 16px;
}

@media only screen and (max-width: 630px) {
    .wrapper {
        flex-wrap: wrap;
        min-height: 96px;
        justify-content: center;
    }
}