@import '../Variables.scss';

.wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    min-height: 80px;

    background-color: $color-white;

    color: $color-black;

    box-shadow: $box-shadow-medium;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.logo {
    display: block;
    height: 48px;
    margin: 0 16px;

    // Alt text
    color: $color-accent-a;
    font-size: 36px; // Keep consistent size
    font-weight: $font-weight-light;
}

.navContainer {
    flex: 1;
}
.navMenuButton {
    display: none;

    div {
        position: relative;
        display: block;
        width: 24px;
        height: 2px;
        background-color: $color-background;
    }

    .nmbp2 {
        margin: 8px 0;
    }
}

.nav {
    list-style-type: none;

    li { display: inline-block; }
}

.navLink {
    padding: 8px 16px;

    color: $color-text-link-inactive;

    transition: $transition-time;

    &:hover {
        color: $color-text-link-hover;
    }
}
.navLinkActive {
    color: $color-text-link-active;

    &:hover {
        color: $color-text-link-hover;
    }
}

.searchBarHeader {
    flex: 1;
    margin: 16px 16px;
}

@media only screen and (max-width: 630px) {
    .nav {
        display: none;
    }
    .navMenuButton {
        display: inline-block;
    }
    .wrapper {
        flex-wrap: wrap;
        min-height: 96px;
        justify-content: center;
    }
}