@import '../Variables.scss';

.result {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 16px 24px 16px;

    border-radius: 12px;
    background-color: $color-background-alt;

    overflow: hidden;

    transition: $transition-time;
    &:hover {
        box-shadow: $box-shadow-medium;
    }
}

.station {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 16px;

    .badge {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 16px 0 8px;
        border-radius: 8px;

        background-color: $color-black;

        color: $color-white;
        .mode {
            // Mode icon (padding adjusted for top margin)
            padding: 9px 8px 7px 8px;
        }
        .crs {
            // CRS code
            padding: 8px 12px 8px 0;

            font-weight: $font-weight-bold;
        }
    }

    .name {
        // Station Name
        flex: 1;
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100%;

    padding: 16px 12px 16px 0;

    .button {
        padding: 0 12px 0 12px;

        text-align: center;
        i {
            // Icon
            display: block;
        }
        .buttonLabel {
            // Label
            position: relative;

            font-size: $font-size-small;
            text-transform: uppercase;
            text-align: center;
        }
    }
}