@import '../Variables.scss';

.searchBar {
    max-width: 48ch;
    border: 1px solid $color-grey-medium;
    border-radius: 2em;
    overflow: hidden;

    background-color: $color-grey-light;

    transition: $transition-time;
    // todo: make input:active enable box-shadow too!
    &:hover {
        box-shadow: $box-shadow-gentle;
    }

    form {
        display: flex;
        justify-content: flex-start;
        align-items: center; // todo: try stretch and remove fixed height of button?

        width: 100%;
    }

    // Reset default styles
    input, button {
        border: 0;
        padding: 0;
        margin: 0;
    }

    input[type="text"] {
        flex: 1;
        display: inline-block;
        vertical-align: top;

        width: 100%;

        padding: 8px;

        background-color: $color-white;

        transition: $transition-time;

        // &:hover { background-color: $color-white; }
        // &:focus { background-color: $color-white; }
    }

    button[type="submit"] {
        display: inline-block;
        vertical-align: top;

        // 8px 16px + material-icons offset
        padding: 10px 16px 6px 16px;
        &.text { padding: 8px 16px; }
        font-size: 16px;

        background-color: $color-button-bg-inactive;
        border-left: 1px solid $color-button-bg-inactive;
        transition: $transition-time;

        &.text:hover { padding: 8px 24px; }
        &:hover {
            background-color: $color-button-bg-hover;
            border-left: 1px solid $color-button-bg-hover;
        }
        &:active {
            background-color: $color-button-bg-active;
        }
    }
}