@import '../Variables.scss';

.searchBar {
    input[type="text"] {
        box-sizing: border-box;
        border: 0;
        border-radius: 12px;
        padding: 8px 16px;
        margin: 0 8px 0 0;

        background-color: $color_grey_light;

        font-size: 16px;

        transition: $ttime_link;

        &:hover { box-shadow: $box_shadow_gentle; }
        &:focus { box-shadow: $box_shadow_medium; }
    }

    button {
        box-sizing: border-box;
        border: 0;
        border-radius: 12px;
        // todo: fix button being 2px below
        padding: 10px 16px;
        margin: 0;

        font-size: 12px;
        text-transform: uppercase;

        background-color: rgba(0,0,0,0);

        transition: $ttime_link;

        &:hover {
            background-color: $color_grey_light;
        }
        &:active {
            box-shadow: $box_shadow_gentle;
        }
    }
}