@import './Variables.scss';

body {
    font-family: "Futura PT", "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: $font-size-body;
    color: $color-text;

    background: $color-background;
}

i.material-icons {
    display: inline-block;
    font-size: $font-size-body;

    &:before { display: none; }
}

a {
    display: inline-block;

    text-decoration: none;
    border: none;
    color: $color-text-link-inactive;

    transition: $transition-time;

    &:hover { color: $color-text-link-hover; }
    &:active { color: $color-text-link-active; }
}

h1 {
    font-size: $font-size-huge;
}

h2 {
    font-size: $font-size-large;
}

h3 {
    font-size: $font-size-medium;
}

.textColorAccent {
    color: $color-accent-a;
}
.textWeightBold {
    font-weight: $font-weight-bold;
}
.textWeightLight {
    font-weight: $font-weight-light;
}
.textTime {
    font-family: $font-family-alt;
    font-size: $font-size-medium;
}

.pageTitleBlock {
    // todo: continue styling
    h1 {
        margin: 48px 0;

        text-align: center;
    }
}

.labelUppercaseSmall {
    font-size: $font-size-small;
    text-transform: uppercase;
    padding: 4px 0;
}

.typefaceMono {
    font-family: "Source Code Pro", "Consolas", monospace;
}

.App {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    height: 100vh;
}

.page {
    flex: 1;
    width: 100%;
}