$color_white: #FAFAFA;
$color_black: #191919;
$color_background: #191919;
$color_background_lighter: #242424;
$color_grey_medium: #91989C;
$color_grey_light: #ECECEC;
$color_pink: #E6006C;

$color_link_inactive: $color_grey_medium;
$color_link_hover: $color_white;
$color_link_hover_dark: $color_black;
$color_link_active: $color_white;
$color_link_active_dark: $color_black;

$ttime_link: .14s;

$box_shadow_gentle: 0 2px 4px rgba(0,0,0,0.1);
$box_shadow_medium: 0 4px 8px rgba(0,0,0,0.2);